.App {
  text-align: center;
}
.overflow{
  overflow-x:hidden

}
.a{
  color: #000000;
  text-decoration: none;
}
.toast-overlay {
  position: fixed; /* Sit on top of the page content */
  display:show; /* Hidden by default */
  width: 12%; /* Full width (cover the whole page) */
  height: 12%; /* Full height (cover the whole page) */
  top: 1;
  left: 1;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.margins{
  margin-right: 15%;
  margin-left: 15%;
}


/* footer */
.listItem {
  font-size: 0.7vw;
  cursor: pointer;
  text-align: center;
}
.footerIMG{
  width: 100%;
}

.modalColor{
  background-color: white;
  position: relative;
  
}
 label{
  color: white;
}
/* main */
.mainContainer{
  background-color: #495e57;
  position: relative;
  
}
.title{
  color:  #f4ce14;
  font-size: 72pt;
}
.titleNav{
  color:  #f4ce14;
  font-size: 72pt;
}
#menuMain .title{
  color:  #f4ce14;
  font-size: 45pt;
}
.subtitle{
  color: white;
 text-align: left;
 font-size: 48pt;
 
}
.subText{
 color: white;
 text-align: left;
 width: 40%;
 font-size: 36pt;
}

.button{
  background-color: #f4ce14;
  font-weight: bold;
  font-size: 14pt;
  padding-left: 1.3rem;
  padding-right:1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: none;
  color:black

}
#weekTitle{
  font-size: 35pt;
  font-weight: bolder;
}



.imageContainer{
  background-image: url("./icons_assets/restauranfood.jpg") ;
  background-size:100% 100%;
  width: 28%;
  min-height:108%;
  max-height:113%;
   position: absolute; 
  top: 4vw; 
  left: 60%;
  border-radius: 18px;


}

.weeks{
  margin-top: 12%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card{
  width: 30%;
  border-color: transparent;
  box-shadow: 10px 10px 5px rgba(212, 212, 212, 1);
  max-height: 60vh;
  border-color: transparent;
  overflow: auto
}

.cardImg{

  object-fit: cover;
  min-height: 35%;
  max-height: 35%;


}


#menuDishes .card{
  min-width: 16vw;
  max-width: 18vw;
  min-height: 52vh;
  max-height: 52vh;
  border-color: transparent;
  overflow: auto;
 
}
#menuDishes .cardDrinks{
  min-width: 16vw;
  max-width: 17vw;
  min-height: 38vh;
  max-height: 38vh;
  border-color: transparent;
 
}

#menuDishes .cardImg{
  object-fit: cover;
  min-height: 26vh;
  max-height: 26vh;
  min-width: 15vw;
  max-width: 16vw;


}
#menuDishes .cardImgDrinks{
  object-fit: scale-down;
  min-height: 28vh;
  max-height: 28vh;
  min-width: 15vw;
  max-width: 16vw;
  

}



#menuDishes .cardTitle{
  font-Size:15pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}
#menuDishes .cardPrice{
  font-Size:15pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes .cardText{

  font-Size: 12pt;
}
#menuDishes .drinksTitle{

max-height: 2vh;
}

#menuDishes .cards{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  margin-top: 2vw;
 
 
  

}

.cardTitle{
 color:black;
  width:100%;
   font-Size:14pt;
   font-Weight:bold;
    padding:3%;
}

.cardPrice{
  color:#f4ce14;
  text-align: right;
  font-Size:14pt;
  padding:3%;
}
.cardText{
 color: black;width: 100%;
  font-Size: 13pt ;padding: 3%;
  min-height: 40%;
}


.cardOrder{
  color: black;width: 100%;
   font-Size: 14pt ;padding: 3%;
   
   
 }


.onlineButton{
  font-size: 1.4vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  border-radius: 15px;
  margin-right: 16%;

}

.bordercolor{
  border:red solid 2px;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2vw;
}



/* nav */
.smallNav{
  display: flex;
  flex-direction: row;
  padding: 1%;
  
}
.lemonLogo{
  align-content: start;
  text-align: left;
  align-self: start;
  width: 20%;
 }

.navLink:link{
  font-size: 20pt;
  color:#0606067d;
  font-weight: bold;
text-decoration: none;
cursor: pointer;
vertical-align: middle;
}



#menuNav .navLink:link{
  color:rgba(212, 212, 212, 1)
 }


.NavAnimation-enter {
  opacity: 1;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 2;
  transform: translateX(0);
  transition: opacity 250ms, transform 250ms;
}
.NavAnimation-exit {
  opacity: 2;
}
.NavAnimation-exit-active {
  opacity: 1;
  transform: scale(0.5);
  transition: opacity 250ms, transform 250ms;
}


.sideMenu {
 text-align: right;
 background-color: white;

}
.margin{
  margin-left: 10%;
  margin-right: 10%;
}

/* testimonials */

#testimonials {
  padding: 1vh 0;
  background-color: #FBFBFB;
  font-family: 'Karla', sans-serif;

}

#testimonials h2 {

  font-size: 35pt;
  text-align: center;
  font-weight: bolder;
  margin: 5% 0% 5% 0%

 
}


#testimonials > div > div {

  padding: 8vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4vw;
  margin: 0% 0% 5% 0%;
 
  
}


.testimonial {
  padding: 1vw;
 
  position: relative;
  -webkit-box-shadow: -1px 9px 13px 3px rgba(212, 212, 212, 1);
  -moz-box-shadow: -1px 9px 13px 3px rgba(212, 212, 212, 1);
  box-shadow: -1px 9px 13px 3px rgba(212, 212, 212, 1);
  border: 2px solid white ;
  border-radius: 8px;

 

}

.testimonial > div> img {
  top: -6vh;
  position: absolute;
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
}

.testimonial .content {

  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

 padding: 8% 0% 0%  0%;

}

.testimonial h4 {
  margin: 0;
  font-Size:16pt;
  font-Weight:bold;
  text-align: center;
}
.testimonialText{
  display: flex;
  
  
}
.testimonialText>p{
  font-style: italic;
  text-align: center;
  font-Size: 11pt;
  
}

/* About */


#about .image-container > img {
  width: 16vw;
  height: 45vh;
  object-fit: cover;
  border-radius: 16px;
}

#about .image-container {
  position: relative;
}

#about .image-container > img:first-child {
  position: relative;
  top: 0;
  left: -12vw;
  z-index: 1;
}

#about .image-container > img:last-child {
  position: absolute;
  top: 14vh;
  left: 0;
}
#about .title{
  
   font-size: 60pt;
}
#about .subText{
  color: white;
   text-align: left;
   width: 60%;
   font-size: 18pt;
   min-height: 40vh
   
}

/* Form */

.errorMessage{
  
  background-color:#e43232;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #000000;
 width: 35%;
  
  
}
#phoneInput{
  border-radius: 8px;
  height:35px ;
  
  background: white;
}
.errorMessage> p{ color: white;
padding: 5px;
text-align: center;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #f4ce14;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
 
  box-shadow: 1px 1px 1px #000000;
  background: white;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]:focus {
  outline: none;
}
#guestNo{
  background-color: transparent;
  border-color: transparent;
  border-style: none;
  cursor: pointer;
}
#guestNo:active{
  background-color: transparent;
  border-color: #f4ce14;
  cursor: pointer;
}
#guestNo:focus{
  background-color: transparent;
  border-color: #f4ce14;
  cursor: pointer;
}
.formImages{
 

  height: 80%;
}

.formImages > img{
  border-radius: 15px;
  width: 8vw;
  margin: 1vw;

}

.modalBorder{
  border-radius: 15px;
}
#formTitle{
 color:  #f4ce14;
    width:100%;
    font-Size:30pt;
    font-Weight:bold;
    text-align: center;
     
 }
 div>h4{
  color: #f4ce14;
}
 .borderNone{
  border: 0;
  box-shadow: none; 
 }

 .modalForm{
  display: flex;
  flex-direction: row;
 }

@media (max-width: 2000px) {

  .title{
    color:  #f4ce14;
    font-size: 62pt;
  }
  .subtitle{
    color: white;
   text-align: left;
   font-size: 38pt;
   
  }
  .subText{
   color: white;
   text-align: left;
   width: 30%;
   font-size: 20pt;
  }

  
.imageContainer{
  background-image: url("./icons_assets/restauranfood.jpg") ;
  background-size:100% 100%;
  width: 26%;
  min-height:108%;
  max-height:113%;
   position: absolute; 
  top: 3vw; 
  left: 64%;
  border-radius: 18px;


}



/* nav */
.smallNav{
  display: flex;
  flex-direction: row;
  

}
.lemonLogo{
  align-content: start;
  text-align: left;
  align-self: start;
  width: 20%;
 }
.navLink:link{
  font-size: 18pt;
  color:#0606067d;
  font-weight: bold;
text-decoration: none;
cursor: pointer;
vertical-align: middle;

margin-bottom: 3%;}

#menuMain .navLink:link{
  font-size: 18pt;
  display: flex;
}


#menuMain .titleNav{
  font-size: 54pt;
}

#menuMain .title{
font-size: 42pt;
}

}

@media (max-width: 1500px) {
  

  #menuMain .navLink:link{
    font-size: 12pt;
    display: flex;
  }
 

  #menuMain .titleNav{
    font-size: 36pt;
  }

#menuMain .title{
font-size: 32pt;
}
  
#menuDishes .card{
  min-width: 16vw;
  max-width: 16vw;
  min-height: 48vh;
  max-height: 48vh;
  border-color: transparent;
 
}
#menuDishes .cardDrinks{
  min-width: 16vw;
  max-width: 17vw;
  min-height: 33vh;
  max-height: 33vh;
 overflow: hidden;
}

#menuDishes .cardImg{
  
  min-height: 22vh;
  max-height: 22vh;
  min-width: 15vw;
  max-width: 16vw;


}
#menuDishes .cardImgDrinks{
 
  min-height: 26vh;
  max-height: 26vh;
  min-width: 15vw;
  max-width: 16vw;
  

}



#menuDishes  .cardTitle{
  font-Size:11pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes  .cardPrice{
  font-Size:11pt;
  

}
#menuDishes .cardText{

  font-Size: 9pt;
}
  
  #menuMain .navLink:link{
    font-size: 18pt;
    display: flex;
  }
 

  #menuMain .titleNav{
    font-size: 50pt;
  }

#menuMain .title{
font-size: 42pt;
}
  
  .lemonLogo{
    align-content: start;
    text-align: left;
    align-self: start;
    width: 24%;
   }

   .smallNav{
    display: flex;
    flex-direction: row;
  
  }
  
  .navLink:link{
    font-size: 16pt;
    color:#0606067d;
    font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}

  .subText{
    color: white;
    text-align: left;
    width: 30%;
    font-size: 20pt;
   }
  
.imageContainer{
  background-image: url("./icons_assets/restauranfood.jpg") ;
  background-size:100% 100%;
  width: 28%;
  min-height:98%;
  max-height:113%;
   position: absolute; 
  top: 5.5vw; 
  left: 63%;
  border-radius: 18px;


}

#about .subText{
  color: white;
   text-align: left;
   width: 60%;
   font-size: 18pt;
}


}

@media (max-width: 1200px) {

  
  #menuMain .navLink:link{
    font-size: 14pt;
    display: flex;
  }
 

  #menuMain .titleNav{
    font-size: 38pt;
  }

#menuMain .title{
font-size: 34pt;
}
  
#menuDishes .card{
  min-width: 16vw;
  max-width: 16vw;
  min-height: 49vh;
  max-height: 49vh;
  border-color: transparent;
 
}
#menuDishes .cardDrinks{
  min-width: 16vw;
  max-width: 17vw;
  min-height: 38vh;
  max-height: 38vh;
 overflow: hidden;
}

#menuDishes .cardImg{
  
  min-height: 21vh;
  max-height: 21vh;
  min-width: 15vw;
  max-width: 16vw;


}
#menuDishes .cardImgDrinks{
 
  min-height: 29vh;
  max-height: 29vh;
  min-width: 15vw;
  max-width: 16vw;
  

}



#menuDishes  .cardTitle{
  font-Size:10pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes  .cardPrice{
  font-Size:10pt;
  

}
#menuDishes .cardText{

  font-Size: 8pt;
}
#menuDishes .drinksTitle{

max-height: 2vh;
}

#menuDishes .cards{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  margin-top: 2vw;
 
 
  

}
  

  .cardTitle{
  
      font-Size:14pt;
 
   }
   
   .cardPrice{
    
     font-Size:14pt;
    
   }
   .testimonial .content  h4 {
  
    font-Size: 14pt 
  }
  
   .testimonial .content  p {
 
    font-Size: 12pt 
  }
  
   
   .cardText{
    
     font-Size: 12pt;
     min-height: 60%;
   }
    
   .cardOrder{
    
    font-Size: 12pt;

  }
  .lemonLogo{
    align-content: start;
    text-align: left;
    align-self: start;
    width: 24%;
   }

   .smallNav{
    display: flex;
    flex-direction: row;
  
  }
  
  .navLink:link{
    font-size: 14pt;
    color:#0606067d;
    font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  margin-left:0%;}


  .subText{
    color: white;
    text-align: left;
    width: 40%;
    font-size: 18pt;
   }
  .imageContainer{
  
    width: 32%;
    min-height:101%;
    max-height:113%;
     position: absolute; 
    top: 5vw; 
    left: 58%;
   
  
  
  }



 
}


@media (max-width: 1100px) {

  #about .image-container > img {
    width: 17vw;
    height: 28vh;
  
  }
  

  
  #about .image-container > img:first-child {
   
    top: 5vh;
   
   
  }
  
  #about .image-container > img:last-child {
    
    top: 15vh;
    
  }
  .testimonial > div> img {
    top: -5vh;
    position: absolute;
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
  }
  

  
  #menuMain .navLink:link{
    font-size: 14pt;
    display: flex;
  }
 

  #menuMain .titleNav{
    font-size: 38pt;
  }

#menuMain .title{
font-size: 34pt;
}
  
#menuDishes .card{
  min-width: 17vw;
  max-width: 17vw;
  min-height: 25vh;
  max-height: 25vh;
  border-color: transparent;
  overflow-x: hidden;
 
}
#menuDishes .cardDrinks{
  min-width: 17vw;
  max-width: 17vw;
  min-height: 15vh;
  max-height: 15vh;
 overflow: hidden;
}

#menuDishes .cardImg{
  
  min-height: 10vh;
  max-height: 10vh;
  min-width: 17vw;
  max-width: 18vw;


}
#menuDishes .cardImgDrinks{
 
  min-height: 11vh;
  max-height: 11vh;
  min-width: 17vw;
  max-width: 18vw;

  

}



#menuDishes  .cardTitle{
  font-Size:10pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes  .cardPrice{
  font-Size:10pt;
  

}
#menuDishes .cardText{

  font-Size: 8pt;
}
#menuDishes .drinksTitle{

max-height: 2vh;
}


.cardTitle{

  font-Size:11pt;
  
}

.cardPrice{

font-Size:11pt;

}
.testimonial .content  h4 {

font-Size: 11pt 
}

.testimonial .content  p {

font-Size: 10pt 
}


.cardImg{
min-height: 30%;
max-height: 30%;
}

.cardText{
padding: 3%;
 padding-top: 0%;
 font-Size: 10pt;
 min-height: 60%;
}

.cardOrder{
 padding: 3%;
  padding-top: 0%;
  font-Size: 10pt;

}
.cards{



margin-top: 3vw;
}

#weekTitle{
font-size: 32pt;
font-weight: bolder;

}
.title{

font-size: 46pt;

}
.subtitle{

font-size: 36pt;


}


.button{

font-weight: bold;
font-size: 12pt;
vertical-align: bottom;
align-self: bottom;


}

.card{
  min-height: 30vh;
  max-height: 32vh;
width: 100%;
box-shadow: 10px 10px 5px #6b6e70;

}





 
}

@media (max-width: 1100px ) and (max-height:700px) {

  #about .image-container > img {
    width: 17vw;
    height: 58vh;
  
  }
  

  
  #about .image-container > img:first-child {
   
    top: 10vh;
   
   
  }
  
  #about .image-container > img:last-child {
    
    top: 20vh;
    
  }

  .card{
    min-height: 60vh;
    max-height: 65vh;
  width: 100%;
  box-shadow: 10px 10px 5px #6b6e70;
  
  }
  #menuMain .navLink:link{
    font-size: 14pt;
    display: flex;
  }
 

  #menuMain .titleNav{
    font-size: 38pt;
  }

#menuMain .title{
font-size: 34pt;
}
  
#menuDishes .card{
  min-width: 16vw;
  max-width: 16vw;
  min-height: 49vh;
  max-height: 49vh;
  border-color: transparent;
 
}
#menuDishes .cardDrinks{
  min-width: 16vw;
  max-width: 17vw;
  min-height: 38vh;
  max-height: 38vh;
 overflow: hidden;
}

#menuDishes .cardImg{
  
  min-height: 21vh;
  max-height: 21vh;
  min-width: 15vw;
  max-width: 16vw;


}
#menuDishes .cardImgDrinks{
 
  min-height: 29vh;
  max-height: 29vh;
  min-width: 15vw;
  max-width: 16vw;
  

}



#menuDishes  .cardTitle{
  font-Size:10pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes  .cardPrice{
  font-Size:10pt;
  

}
#menuDishes .cardText{

  font-Size: 8pt;
}
#menuDishes .drinksTitle{

max-height: 2vh;
}

#menuDishes .cards{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  margin-top: 2vw;
 
 
  

}
  

  .cardTitle{
  
      font-Size:14pt;
 
   }
   
   .cardPrice{
    
     font-Size:14pt;
    
   }
   .testimonial .content  h4 {
  
    font-Size: 14pt 
  }
  
   .testimonial .content  p {
 
    font-Size: 12pt 
  }
  
   
   .cardText{
    
     font-Size: 12pt;
     min-height: 60%;
   }
    
   .cardOrder{
    
    font-Size: 12pt;

  }
  .lemonLogo{
    align-content: start;
    text-align: left;
    align-self: start;
    width: 24%;
   }

   .smallNav{
    display: flex;
    flex-direction: row;
  
  }
  
  .navLink:link{
    font-size: 14pt;
    color:#0606067d;
    font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  margin-left:0%;}


  .subText{
    color: white;
    text-align: left;
    width: 40%;
    font-size: 18pt;
   }
  .imageContainer{
  
    width: 32%;
    min-height:101%;
    max-height:113%;
     position: absolute; 
    top: 5vw; 
    left: 58%;
   
  
  
  }



 
}
@media (max-width: 1000px) {
  #formTitle{
    color:  #f4ce14;
       width:100%;
       font-Size:20pt;
       font-Weight:bold;
       text-align: center;
        
    }

  #menuMain .navLink:link{
    font-size: 14pt;
    display: flex;
  }
 

  #menuMain .titleNav{
    font-size: 36pt;
  }

#menuMain .title{
font-size: 32pt;
}

#menuDishes .card{
  min-width: 20vw;
  max-width: 20vw;
  min-height: 22vh;
  max-height: 22vh;
  border-color: transparent;
  overflow-x: hidden;

 
}
#menuDishes .cardDrinks{
  min-width: 20vw;
  max-width: 20vw;
  min-height: 15vh;
  max-height: 15vh;
 
}



#menuDishes .cardImg{
  
  min-height: 9vh;
  max-height: 9vh;
  min-width: 19vw;
  max-width: 20vw;


}
#menuDishes .cardImgDrinks{
 
  min-height: 11vh;
  max-height: 11vh;
  min-width: 19vw;
  max-width: 21vw;
  

}


#menuDishes  .cardTitle{
font-Size:10pt;
flex-shrink: 1;
flex-wrap: wrap;

}

#menuDishes  .cardPrice{
font-Size:10pt;


}
#menuDishes .cardText{

font-Size: 9pt;
}


  

  #menuDishes .drinksTitle{
  
  max-height: 2vh;
  }
  
  #menuDishes .cards{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    margin-top: 2vw;
   
   
    
  
  }
  
  
#about .image-container > img {
  width: 20vw;
  height: 20vh;
  object-fit: cover;
  border-radius: 16px;
}

#about .image-container {
  position: absolute;
}

#about .image-container > img:first-child {
  position: relative;
  top: 30vh;
  left:0;
  z-index: 1;
}

#about .image-container > img:last-child {
  position: relative;
  top: 38vh;
  left: 0;
}
  #about .title{
    font-size: 43pt;
    text-align: center;
 }
 #about .subText{
   color: white;
    text-align: center;
    width: 100%;
    font-size: 16pt;
 }
  .margin{
    margin-left: 10%;
    margin-right: 10%;
  }
  .smallNav{
   display: flex;
   flex-direction: row;
   
  }


  .testimonial > div> img {
  
 
    width: 6vh;
    height: 6vh;
   
  }

 .navLink:link{
   margin-left: 0%;
   font-size: 12pt;
   color:#0606067d;
   font-weight: bold;
 text-decoration: none;
 cursor: pointer;
 vertical-align: middle;
}

 .sideMenu {
   display: none;
   
 }
 .subText{
  width: 40%;
   font-size: 14pt;

  }

 .cardTitle{

     font-Size:11pt;
     
  }

  .cardPrice{

   font-Size:11pt;
   
}
.testimonial .content  h4 {
  
  font-Size: 11pt 
}

 .testimonial .content  p {

  font-Size: 10pt 
}


.cardImg{
 min-height: 30%;
 max-height: 30%;
}

  .cardText{
   padding: 3%;
    padding-top: 0%;
    font-Size: 10pt;
    min-height: 60%;
  }
  
  .cardOrder{
    padding: 3%;
     padding-top: 0%;
     font-Size: 10pt;
   
   }
 .cards{

 
  
   margin-top: 3vw;
 }
 
 #weekTitle{
   font-size: 32pt;
   font-weight: bolder;

 }
 .title{
 
   font-size: 46pt;

 }
 .subtitle{

  font-size: 36pt;

  
 }
 

 .button{
   
   font-weight: bold;
   font-size: 12pt;
   vertical-align: bottom;
   align-self: bottom;



 }

 .card{
  min-height: 25vh;
  max-height: 27vh;
  width: 100%;
  box-shadow: 10px 10px 5px #6b6e70;

}

 

 .imageContainer{

   width: 290px;
     min-height:380px ;
   margin-top: 15px;
   border-radius: 18px;
 margin-left: 0%;
 }



.listItem {
   font-size: 1.6vw;
   cursor: pointer;
  
 }
 
 #about .image-container > img {
  width: 28vw;
  height: 18vh;
 
}



#about .image-container > img:first-child {

  top: 25vh;
 
}

#about .image-container > img:last-child {
 
  top: 28vh;

}
 

}


@media (max-width: 900px) {
  .testimonial{
    width: 80%;
  }

  #menuMain .navLink:link{
    font-size: 12pt;
    display: flex;
  }
 

  #menuMain .titleNav{
    font-size: 34pt;
  }

#menuMain .title{
font-size: 32pt;
}

  #menuDishes .card{
    min-width: 21vw;
    max-width: 21vw;
    min-height: 25vh;
    max-height: 25vh;
    border-color: transparent;

   
  }
  #menuDishes .cardDrinks{
    min-width: 21vw;
    max-width: 21vw;
    min-height: 16vh;
    max-height: 16vh;
   
  }


  
  #menuDishes .cardImg{
    
    min-height: 11vh;
    max-height: 11vh;
    min-width: 21vw;
    max-width: 22vw;
  
  
  }
  #menuDishes .cardImgDrinks{
   
    min-height: 11vh;
    max-height: 11vh;
    min-width: 21vw;
    max-width: 22vw;
    
  
  }
  
  
#menuDishes  .cardTitle{
  font-Size:9pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes  .cardPrice{
  font-Size:9pt;
  

}
#menuDishes .cardText{

  font-Size: 8pt;
}
  

  #menuDishes .drinksTitle{
  
  max-height: 2vh;
  }
  
  #menuDishes .cards{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    margin-top: 2vw;
   
   
    
  
  }
 
  .formImages{
    display: none;
  }
  .formImages > img{
    display: none;
  
  }

   .smallNav{
    display: flex;
    flex-direction: row;
    
   }

   .lemonLogo{
  column-count: 1;
  
   }

  .navLink:link{
    margin-left: 0%;
    font-size: 11pt;
    color:#0606067d;
    font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}

  .sideMenu {
    display: none;
    
  }
  .subText{
  
    font-size: 14pt;
 
   }

  .cardTitle{

      font-Size:11pt;
      
   }

   .cardPrice{

    font-Size:11pt;
    
 }
 .testimonial .content  h4 {
  text-align: center;
  font-Size: 11pt;
  margin-bottom: 2%;
}

 .testimonial .content  p {
  text-align: center;
  font-Size: 10pt 
}


 .cardImg{
  min-height: 30%;
  max-height: 30%;
}

   .cardText{
    padding: 3%;
     padding-top: 0%;
     font-Size: 10pt;
   }
   .cardOrder{
    padding: 3%;
     padding-top: 0%;
     font-Size: 10pt;
   }
  .cards{

  
   
    margin-top: 3vw;
  }
  
  #weekTitle{
    font-size: 30pt;
    font-weight: bolder;

  }
  .title{
  
    font-size: 43pt;

  }
  .subtitle{
 
   font-size: 28pt;

   
  }
  

  .button{
    
    font-weight: bold;
    font-size: 12pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }

  .card{
   
    min-height: 33vh;
    max-height: 33vh;
    width: 100%;
    box-shadow: 10px 10px 5px #6b6e70;
   
  }
 
  

  .imageContainer{
 
    width: 280px;
      min-height:360px ;
    margin-top: 12px;
    border-radius: 18px;
  margin-left: -3%;
  }



.listItem {
    font-size: 1.6vw;
    cursor: pointer;
   
  }
  

  #testimonials h2 {
    margin: 0;
    font-size: 30pt;
    
}

#testimonials > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
    padding: 5vh 0;
  
    align-items: center;
}

.testimonial {
    position: static;
    margin-bottom: 4vh;
    padding: 2vh 8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    border-radius: 8px;
}

.testimonial .content {
 
    padding-left: 3vw;
}

.testimonial > div> img {
    position: static;
}
.testimonial h4 {
  margin: 0;
  font-Size:14pt;
  font-Weight:bold;
}

.testimonial .content > p {
  font-style: italic;
  font-Size: 12pt 
}

#about .image-container > img {
  width: 28vw;
  height: 18vh;
 
}



#about .image-container > img:first-child {

  top: 28vh;
 
}

#about .image-container > img:last-child {
 
  top: 33vh;

}

#about .subText{
  color: white;
   text-align: left;

   font-size: 14pt;
   min-height: 40vh
   
}


}




@media (max-width: 800px) {

  .footer .listItem {
    font-size: 10pt;
    cursor: pointer;
    text-align: center;
  }
  #menuMain .navLink:link{
    font-size: 14pt;
    display: flex;
  }
 

  #menuMain .titleNav{
    font-size: 30pt;
  }

#menuMain .title{
font-size: 28pt;
}

  #menuDishes .card{
    min-width: 22vw;
    max-width: 22vw;
    min-height: 32vh;
    max-height: 32vh;
    border-color: transparent;

   
  }
  #menuDishes .cardDrinks{
    min-width: 22vw;
    max-width: 22vw;
    min-height: 20vh;
    max-height:20vh;
   
   
  }


  
  #menuDishes .cardImg{
    
    min-height: 13vh;
    max-height: 13vh;
    min-width: 21vw;
    max-width: 22vw;
    object-fit: cover;
  
  
  }
  #menuDishes .cardImgDrinks{
   
    min-height: 15h;
    max-height: 15vh;
    min-width: 21vw;
    max-width: 22vw;
    object-fit: scale-down;
 
  
    
  
  }
  
  
#menuDishes  .cardTitle{
  font-Size:10pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes  .cardPrice{
  font-Size:10pt;
  

}
#menuDishes .cardText{

  font-Size: 9pt;
}
  

  #menuDishes .drinksTitle{
  
  max-height: 2vh;
  }
  
  #menuDishes .cards{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    margin-top: 2vw;
   
   
    
  
  }
  
  #about .image-container > img {
    width: 25vw;
    height: 18vh;
   
  }
  
 
  
  #about .image-container > img:first-child {

    top: 27vh;
   
  }
  
  #about .image-container > img:last-child {
   
    top: 33vh;
 
  }

  .overflow{
    overflow-x:visible;
  
  }
  
  .margins{
    margin-right: 5%;
    margin-left: 5%;
    margin-top:2%
  }

 
  .lemonLogo{
    align-content: start;
    text-align: left;
    align-self: start;
    width: 38%;
   }
  .smallNav{
    display: none;
    
   }

 .navLink:link{
    display: none;
  }

 
     
  .sideMenu {
    
    display: block;
   
   }

  .subText{
  
    font-size: 14pt;
    text-align: center;
    width: 100%;
   }

  .cardTitle{

      font-Size:10pt;
      
   }

   .cardPrice{

    font-Size:10pt;
    
 }
 .testimonial .content  h4 {
  
  font-Size: 10pt 
}

 .testimonial .content  p {

  font-Size: 9t 
}

   .cardText{
    padding: 3%;
     padding-top: 0%;
     font-Size: 9pt;
     min-height: 9vh;
   }
   .cardOrder{
    padding: 3%;
     padding-top: 0%;
     font-Size: 9pt;
   }
  .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
  }
  
  #weekTitle{
    font-size: 25pt;
    font-weight: bolder;
    text-align: left;
  }
  .title{
  
    font-size: 30pt;
    text-align: center;
  }
  .subtitle{
 
   font-size: 22pt;
   text-align: center;
   
  }
  #about .title{
    font-size: 28pt;
    
 }
 #about .subText{

    font-size: 14pt;
 }

  .button{
    
    font-weight: bold;
    font-size: 12pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }

  .card{
    min-width: 26vw;
    max-width: 26vw;
    min-height: 38vh;
    max-height: 38vh;
   
    box-shadow: 10px 10px 5px #6b6e70;
  }
  
.imageContainer{

 display:none;

}

.center{
  text-align: center;
}

.listItem {
    font-size: 2.1vw;
    cursor: pointer;
   
  }
 
  .cardImg{
    min-height: 17vh;
    max-height: 17vh;
   }
  
}

@media (max-width: 600px) {
  
  .errorMessage{
  
    background-color:#e43232;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #000000;
   width: 60%;
    
    
  }
  #menuMain .titleNav{
    font-size: 26pt;
  }

#menuMain .title{
font-size: 24pt;
}
  #menuDishes .card{
    min-width: 28vw;
    max-width: 28vw;
    min-height: 31vh;
    max-height: 31vh;
    border-color: transparent;

   
  }
  #menuDishes .cardDrinks{
    min-width: 28vw;
    max-width: 28vw;
    min-height: 23vh;
    max-height: 23vh;
   
   
  }


  
  #menuDishes .cardImg{
    
    min-height: 13vh;
    max-height: 13vh;
    min-width: 27vw;
    max-width: 28vw;
    object-fit: cover;
  
  
  }
  #menuDishes .cardImgDrinks{
   
    min-height: 16vh;
    max-height: 16vh;
    min-width: 27vw;
    max-width: 29vw;
    object-fit: scale-down;
 

  
  }
  
  
#menuDishes  .cardTitle{
  font-Size:8pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes  .cardPrice{
  font-Size:8pt;
  

}
#menuDishes .cardText{

  font-Size: 7pt;
}
  

  #menuDishes .drinksTitle{
  
  max-height: 2vh;
  }
  
  #menuDishes .cards{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    margin-top: 2vw;
   
   
    
  
  }

  #about .image-container > img {
    width: 25vw;
    height: 20vh;
   
  }
  
 
  
  #about .image-container > img:first-child {

    top: 34vh;
   
  }
  
  #about .image-container > img:last-child {
   
    top: 39vh;
 
  }

  #testimonials h2 {

    font-size: 26pt;
    
  
   
  }
  
 .cardImg{
  min-height: 20vh;
  max-height:  20vh;
}
 
  .lemonLogo{
    align-content: start;
    text-align: left;
    align-self: start;
    width: 53%;
   }
  .smallNav{
    display: none;
    
   }

 .navLink:link{
    display: none;
  }
  #menuMain .navLink:link{
    font-size: 10pt;
    display: flex;
  }
 
     
  .sideMenu {
    
    display: block;
   
   }

  .subText{
  
    font-size: 10pt;
    text-align: center;
    width: 100%;
   }

  .cardTitle{

      font-Size:12pt;
      
   }

   .cardPrice{

    font-Size:12pt;
    
 }

 .testimonial .content  h4 {
  
  font-Size: 12pt 
}

 .testimonial .content  p {

  font-Size: 10pt 
}

   .cardText{
    padding: 3%;
     padding-top: 0%;
     font-Size: 10pt;
   }
   .cardOrder{
    padding: 3%;
     padding-top: 0%;
     font-Size: 10pt;
   }
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
  }
  
  #weekTitle{
    font-size: 21pt;
    font-weight: bolder;
    text-align: center;
  }
  .title{
  
    font-size: 28pt;
    text-align: center;
  }
  .subtitle{
 
   font-size: 20pt;
   text-align: center;
   
  }
  #about .title{
    font-size: 26pt;
    
 }
 #about .subText{

    font-size: 12pt;
 }

  .button{
    
    font-weight: bold;
    font-size: 10pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }

  .card{
    min-width: 65%;
    max-width: 70%;
    min-height: 40vh;
    max-height: 55vh;
    box-shadow: 10px 10px 5px #6b6e70;
  }
  
.imageContainer{

 display:none;

}

.center{
  text-align: center;
}

.listItem {
    font-size: 2.3vw;
    cursor: pointer;
   
}

.footerIMG{
  display: none;
}
.footer{
  display: none;
}

}



@media (max-width: 500px) {
  #about .image-container > img {
    width: 25vw;
    height: 17vh;
   
  }

  .modalForm{
    display: flex;
    flex-direction: column;
   }
  
 
  
  
 
  
  #about .image-container > img:first-child {

    top: 28vh;
   
  }
  
  #about .image-container > img:last-child {
   
    top: 33vh;
 
  }
  #menuDishes .drinksTitle{

    max-height: 1vh;
    }

  #menuMain .navLink:link{
    font-size: 8pt;
    display: flex;
  }
  #menuDishes  .cardTitle{
    font-Size:8pt;
    flex-shrink: 1;
    flex-wrap: wrap;
  
  }
  
  #menuDishes  .cardPrice{
    font-Size:8pt;
    
  
  }
  #menuDishes .cardText{
  
    font-Size: 7pt;
  }
    
  
  

  #menuMain .titleNav{
    font-size: 20pt;
  }

#menuMain .title{
font-size: 18pt;
}
  
  #menuDishes .card{
    min-width: 46vw;
    max-width: 46vw;
    min-height: 29vh;
    max-height: 29vh;
    border-color: transparent;
    overflow-x: hidden;

   
  }
  #menuDishes .cardDrinks{
    min-width: 46vw;
    max-width: 46vw;
    min-height: 20vh;
    max-height: 20vh;
   
   
  }


  
  #menuDishes .cardImg{
    
    min-height: 13vh;
    max-height: 13vh;
    min-width: 48vw;
    max-width: 48vw;
    object-fit: cover;
  
  
  }
  #menuDishes .cardImgDrinks{
   
    min-height: 12vh;
    max-height: 12vh;
    min-width: 48vw;
    max-width: 48vw;
    object-fit: scale-down;
 
  
    
  
  }

 
  .subText{
  
    font-size: 10pt;
    text-align: center;
    width: 100%;
   }

  .cardTitle{

      font-Size:10pt;
      
   }

   .cardPrice{

    font-Size:10pt;
    
 }
 .testimonial .content  h4 {
  
  font-Size: 10pt 
}

 .testimonial .content  p {

  font-Size: 9pt 
}

   .cardText{
    padding: 3%;
     padding-top: 0%;
     font-Size: 9pt;
   }
   .cardOrder{
    padding: 3%;
     padding-top: 0%;
     font-Size: 9pt;
   }
  
  #weekTitle{
    font-size: 20pt;
    font-weight: bolder;
    text-align: center;
  }
  .title{
  
    font-size: 26pt;
    text-align: center;
  }
  .subtitle{
 
   font-size: 18pt;
   text-align: center;
   
  }

  #about .title{
    font-size: 22pt;
    
 }
 #about .subText{

    font-size: 12pt;
 }
  

  .button{
    
    font-weight: bold;
    font-size: 8pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }

  .card{
    min-width: 80%;
    max-width: 80%;
    box-shadow: 10px 10px 5px #6b6e70;
  }
  


 


  .footerIMG{
    display: none;
  }


}
@media (max-width: 400px) {

  #about .image-container > img {
    width: 35vw;
    height: 25vw;
   
  }
  
 
  
  #about .image-container > img:first-child {

    top: 38vh;
   
  }
  
  #about .image-container > img:last-child {
   
    top: 43vh;
 
  }

  #menuDishes  .cardTitle{
  font-Size:8pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes  .cardPrice{
  font-Size:8pt;
  

}
#menuDishes .cardText{

  font-Size: 7pt;
}
  

  

  #menuMain .titleNav{
    font-size: 20pt;
  }

#menuMain .title{
font-size: 18pt;
}
  
  #menuDishes .card{
    min-width: 50vw;
    max-width: 50vw;
    min-height: 35vh;
    max-height: 35vh;
    border-color: transparent;
    overflow-x: hidden;

   
  }
  #menuDishes .cardDrinks{
    min-width: 50vw;
    max-width: 50vw;
    min-height: 25vh;
    max-height: 25vh;
   
   
  }


  
  #menuDishes .cardImg{
    
    min-height: 15vh;
    max-height: 15vh;
    min-width: 50vw;
    max-width: 50vw;
    object-fit: cover;
  
  
  }
  #menuDishes .cardImgDrinks{
   
    min-height: 15vh;
    max-height: 15vh;
    min-width: 50vw;
    max-width: 50vw;
    object-fit: scale-down;
 
  
    
  
  }
}


@media (max-width: 300px) {

  #about .image-container > img {
    display: none;
   
  }
  
 
  
  #about .image-container > img:first-child {

    top: 41vh;
   
  }
  
  #about .image-container > img:last-child {
   
    top: 45vh;
 
  }

  #menuDishes .card{
    min-width: 52vw;
    max-width: 52vw;
    min-height: 35vh;
    max-height: 35vh;
    border-color: transparent;

   
  }
  #menuDishes .cardDrinks{
    min-width: 52vw;
    max-width: 52vw;
    min-height: 23vh;
    max-height: 23vh;
   
   
  }


  
  #menuDishes .cardImg{
    
    min-height: 15vh;
    max-height: 15vh;
    min-width: 50vw;
    max-width: 50vw;
    object-fit: cover;
  
  
  }
  #menuDishes .cardImgDrinks{
   
    min-height: 15vh;
    max-height: 15vh;
    min-width: 50vw;
    max-width: 50vw;
    object-fit: scale-down;
 
  
    
  
  }

  
#menuDishes  .cardTitle{
  font-Size:8pt;
  flex-shrink: 1;
  flex-wrap: wrap;

}

#menuDishes  .cardPrice{
  font-Size:8pt;
  

}
#menuDishes .cardText{

  font-Size: 7pt;
}
  


  #menuMain .titleNav{
    font-size: 16pt;
  }

#menuMain .title{
font-size: 15pt;
}
  
  .lemonLogo{
  
    width: 43%;
   }

  .button{
    
    font-weight: bold;
    font-size: 6pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }
  .sideMenu {
  

   margin-right: 5%;
  }
 
  #weekTitle{
    font-size: 16pt;
    font-weight: bolder;
    text-align: center;
  }
  .title{
  
    font-size: 24pt;
    text-align: center;
  }
  .subtitle{
 
   font-size: 16pt;
   text-align: center;
   
  }

  .subText{
  
    font-size: 10pt;
    text-align: center;
    width: 100%;
   }

  .cardTitle{

      font-Size:9pt;
      
   }

   .cardPrice{

    font-Size:9pt;
    
 }
   .cardText{
    padding: 3%;
     padding-top: 0%;
     
     font-Size: 08pt;
   }
   .testimonial .content  h4 {
  
    font-Size: 10pt 
  }
  
   .testimonial .content  p {
 
    font-Size: 08pt 
  }
  
   .cardOrder{
    padding: 3%;
     padding-top: 0%;
     font-Size: 08pt;
   }
  
   .listItem {
    font-size: 2vw;
    cursor: pointer;
   
  }
  .footer{
    display: none;
  }


  .footerIMG{
    display: none;
  }
 
}

